#header{
    background-color:rgb(43, 228, 83);
    height:157px;background-image:url(./banner\ \(1\).gif);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#body{
    height: 450px;
    text-align: left; 
}
#menu{
    background-color:rgb(76, 235, 235);
    height:100px;
    text-align: center;
}